/* Import font families */

@font-face 
{
    font-family: 'Tron';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/tron.otf');
}

@font-face 
{
    font-family: 'Audiowide';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Audiowide-Regular.ttf');
}