/* Bootstrap and Fonts CSS */
@import url("./bootstrap.min.css");
@import url("./fonts.css");

body {font-family: 'Audiowide';}

/* Reduced Home Icon */
.icon-home
{
    background: url('../images/site/ship-icon.png') 0 0 no-repeat;
    background-size:30px 30px;
    height: 30px;
    line-height: 30px;
    width: 30px;
    vertical-align: middle;
    margin-right: 5px;
    margin-bottom: 10px;
    border-bottom-width: 10px;
}

.navbar-brand 
{ 
    padding: 10px 15px;
    padding-top: 7px;
    border-bottom-width: 10px;
    margin-bottom: 2px;
    margin-left: 0px!important;
}

.navbar-dark
{
    background-color: #212E3B;
    border-color: transparent;
}

.navbar-dark a { color: #FFF;}

.container-canvas { margin: 0 auto; width: 805px; border: 3px double #000; }
.container-main { margin-top: 20px; }

/* Content Styling */
.buffer { margin-top: 51px; }

ul, ol { list-style-type: square; }

.panel-body { padding: 20px; }
.big-panel { min-height:300px!important; }
.panel { margin-bottom: 0; }

.container-fluid > section > .panel { width: 95%; }
.container-fluid { width: 100%; padding: 0; }

.color-panel { display:flex;justify-content:center;align-items:center; padding: 50px 100px; }
.color-panel.dark-green-panel { background-color: #369A41; }
.color-panel.med-green-panel { background-color: #81b33a; }
.color-panel.light-green-panel { background-color: #57EC67; }
.color-panel.white-panel { background-color: #FFFFFF; }

/* Toggling styles */
.flip:hover { cursor:pointer; }
.faq-panel { display:none; }
.toggle-panel { margin-bottom: 15px; }

/* Input and validation styles */
.focus-input { background-color: #EEF6FF; }
.has-error input { background-color: #F6D3D3; }
.has-success input { background-color: #D4F5D3; }

/* Image captions */
div.desc
{
    background-color: #000000;
    color: #FFFFFF;
    font-family:'Audiowide';
    opacity: 0.3;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    width: 100%;
}

.wrapper
{
    width: 100%;
    padding: 0px;
}

.img-container { padding:0 15px; }
.no-padding { padding:0px; }

img.dismissable-desc:hover { cursor: pointer; }
